#show_lines{
    margin-top:-2.4%;
    height:5%;
    margin-left:22%;
    margin-bottom:30px;

}
#p_airlines{
    padding-left: 5px;
    padding-right: 5px;
    color:white;
    margin-left:5px;
    margin-top:0%;
    height:20px;
    float:left;
    font-size:15px;
}